/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.orangered {
    color: #FF4500;
}

.periwinkle {
    color: #7e6ff3;
}

.neutral {
    color: #d3d3d3;
}