<ion-view title="POSTS">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="updatePosts()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-divider" ng-show="posts.length > 0">
                Upcoming Matches
            </ion-item>
            <ion-item ng-repeat="post in posts" class="item-button-right">
                {{ post.data.score }} - {{ post.data.title }} ({{ post.data.author }})
                <button class="button" ng-class="post.uhccalendar.notify ? 'button-positive' : 'button-light'"><i class="icon ion-ios7-alarm-outline"></i></button>
            </ion-item>
            <ion-item class="item-divider" ng-show="unparsed.length > 0">
                Unparsed Upcoming Matches
            </ion-item>
            <ion-item ng-repeat="post in unparsed">
                {{ post.data.score }} - {{ post.data.title }} ({{ post.data.author }})
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
